body{
	margin:0px;
}
/*header section*/
#body-header{
	height: 65vh;
	opacity: 0.8;
	background-image:url(file:///C:/project%20images/img2.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-color: darkblue;
}
.horizontal-list{
	list-style: none;
	padding: 0px;
	text-align: center;
	margin: 0px;
}
.horizontal-list img{
	height: auto;
	width:80px;
	margin-top: 10px;
	display: inline-block;
}
.horizontal-list li{
	display: inline-block;
	margin: 0px 28px 28px 0px;
	font-weight: 100;
	font-size: 0.9rem;
	}
	.horizontal-list li a{
	color: white;
	text-decoration: none;
  }
  .nav-menu li a {
		transition: color 0.5s,border-bottom 4s;
	}
	
.nav-menu li a:hover{
	color:lightgrey;
	border-bottom: 1px solid white;
}
#name-social-container{
	margin-top: 20vh;
	text-align: center;
}
#social-heading{
	font-size: 2rem;
	letter-spacing: 0.1rem;
	color: darkblue;
	font-weight:700;
	margin-bottom: 0.5rem;
}
#social-heading-2{
    font-weight: 1000;
	color:darkblue;
  }
  section{
	width: 100%;
	height: 51vh;
	display: flex;
	flex-direction: column;
	align-items: : center;
	
}
#section-heading{
	text-align: center;
	font-weight: 400;
	font-size: 1.3rem;
}
#key-container{
  display: flex;
  min-height: 25vh;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 10px;
}
.grid-item {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  border:1px solid black;
  text-align: center;
  color:darkblue;
  height:35px;
  width:450px;
  border-radius: 5px;
  
  }

/*Adress section*/
.address-area{
	position: relative;

}
 img{
	height:250px;
	width:30%;
	margin-right:30px;
	margin-bottom: 20px;
	
	
}
.address{
	position: absolute;
	bottom:9px;
	right:15px;
	width: 35%;
	border:2px solid black;
	padding-left: 30px;
	padding-right: 30px;
	border:transparent;
	background-color: white;
	font-family: sans-serif;
	font-size: 1.2rem;
}

.location-area{
	position:relative;
}
  
.location{
	position: absolute;
	bottom:9px;
	left:-18px;
	width: 35%;
	border:2px solid black;
	padding-left: 30px;
	padding-right: 30px;
	border:transparent;
	background-color: white;
	font-family: sans-serif;
	font-size: 1.2rem;

}	
